.photo-gallery-text-h4 {
  margin: 0 auto;
  font-size: 2.3em;
}

.photo-gallery-image-box-container {
  margin: 2px 4px;
  position: relative;
  max-width: 300px;
  min-width: 300px;
}

.photo-gallery-image-box-container span {
  position: absolute;
  right: 10px; bottom: 10px;
  background-color: rgba(51, 50, 50, 0.3);
  color: white;
  border-radius: 4px;
  padding: 4px 4px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 275px;
}

.photo-gallery-image-box {
  cursor: pointer;
  border-radius: 8px;
  min-height: 180px;
}

.photo-gallery-image-box:hover {
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -o-transform: scale(1.05);
}
